@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

:root {
  --clr-primary: hsl(223, 87%, 63%);
  --clr-secondary1: hsl(223, 100%, 88%);
  --clr-secondary2: hsl(354, 100%, 66%);

  --clr-neutral-200: hsl(0, 0%, 59%);
  --clr-neutral-200-hsla: hsla(0, 0%, 59%, 0.5);
  --clr-neutral-600: hsl(209, 33%, 12%);
  --font-size-default: 20px;
  --ff-default: "Libre Franklin", sans-serif;
  --fw-light: 300;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

body {
  font-family: var(--ff-default);
  font-size: var(--font-size-default);
  font-weight: var(--fw-light);
  color: var(--clr-neutral-600);
}

.container {
  display: grid;
  place-content: center;
  text-align: center;
  margin: 3rem 0 0 3rem;
}

.logo {
  max-width: 80px;
  margin-inline: auto;
}

.header-title {
  margin-top: 2.5rem;
  font-size: 3rem;
  color: var(--clr-neutral-200);
  line-height: 1;
}
.header-title span {
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-600);
}

.header-subtitle {
  font-size: 1.25rem;
  margin-top: 1.25rem;
}

.input-box {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

input {
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid var(--clr-secondary1);
  padding-left: 1.5rem;
  padding-right: 10rem;
  font-size: 1rem;
  outline: none;
}
input::placeholder {
  font-size: 1rem;
  color: var(--clr-secondary1);
}

input:active {
  outline: none;
}

.notify-button {
  font-size: 1rem;
  color: white;
  font-weight: var(--fw-semi-bold);
  background-color: var(--clr-primary);
  border: none;
  outline: none;
  padding: 1rem 4rem;
  border-radius: 2rem;
  cursor: pointer;
}
.notify-button:hover {
  opacity: 0.8;
}

.illustration {
  margin-top: 4rem;
  max-width: 700px;
  text-align: center;
}
.social-box {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.social-button {
  width: 40px;
  height: 40px;
  border: 1px solid var(--clr-neutral-200-hsla);
  padding: 0.5rem;
  border-radius: 40px;
  background-color: white;
  cursor: pointer;
  color: var(--clr-primary);
}

.social-button:hover {
  background-color: var(--clr-primary);
  color: white;
}

.copyright {
  color: var(--clr-secondary1);
  font-size: 0.75rem;
  margin-top: 1.25rem;
  color: var(--clr-neutral-200);
}

.error-message {
  font-size: 0.875rem;
  font-style: italic;
  color: var(--clr-secondary2);
  text-align: left;
  margin-left: 5rem;
  margin-top: 0.5rem;
}

@media (max-width: 700px) {
  .container {
    margin: 2rem;
  }

  .header-title {
    font-size: 2rem;
  }

  .header-subtitle {
    font-size: 1rem;
  }

  .input-box {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }

  input {
    width: 100%;
    padding-right: 1.5rem;
  }

  .notify-button {
    width: 100%;
  }

  .illustration {
    max-width: 100%;
  }
}
